@page "/create"
@* @attribute [StreamRendering] *@

<PageTitle>Create</PageTitle>

<body>
    <div id="post-container">
        <div id="user-profile">
            <img src="/Images/Slogan 5.jpeg" alt="User Avatar" id="user-avatar" class="mb-2">
            <span id="user-name">Richard Romero</span>
        </div>
        <textarea id="post-textarea" placeholder="Digite sua publicação aqui"></textarea>
        <div id="upload-image">
            <input type="file" accept="/Images/*">
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="/Images/Slogan 2.jpeg" alt="Post Image" id="post-image">
        </div>
        <div id="buttons">
            <button class="btn btn-primary">Publicar</button>
            <button class="btn btn-danger">Cancelar</button>
        </div>
    </div>
</body>





