<style >

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

#backgroundImage {
    position: fixed;
    top: 70%;
    left: 90%;
    width: 150px;
    height: 150px;
    background-image: url("/Image/Slogan 5.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

</style >
