@page "/Account/ConfirmEmail"
@using DenuncieAqui.Infrastructure.Data
@using Microsoft.AspNetCore.Identity

@using System.Text
@using Microsoft.AspNetCore.WebUtilities

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>
<StatusMessage Message="@statusMessage" />

<div class="full-page-background"></div>
<div class="center-card">
    <div class="email-confirmation-card">
        <img class="card-img-top" alt="Email confirmation" />
        <div class="card-body">
            <h5 class="card-title">Confirmação de E-mail</h5>
            <p class="card-text">
                @if (!string.IsNullOrEmpty(statusMessage))
                {
                    @statusMessage
                }
                else
                {
                    <span>Por favor, aguarde enquanto processamos sua confirmação.</span>
                }
            </p>
        </div>
    </div>
</div>

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"UserId: {UserId}, Code: {Code}");
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("/Account/AccessDenied");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = $"Erro ao carregar o usuário com a Id: {UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            statusMessage = result.Succeeded ? "Obrigado por ter confirmado o e-mail." : "Erro na confirmação de e-mail.";
        }
    }
}