@media (min-width: 1800px) and (max-width: 2000px) {

    .full-page-background {
        position: relative;
        width: 80vw;
        height: 110vh;
        background: url('/Images/Slogan 5.jpeg') center center fixed;
        background-size: cover;
        filter: blur(8px);
    }

    .content {
        position: absolute;
        top: 40%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 65%; /* Aumenta a largura do card para qualquer resolução */
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card img {
        width: 750%; /* Garante que a imagem não fique espaguetificada */
        border-radius: 10px 0 0 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {

    .full-page-background {
        position: relative;
        width: 100%;
        height: 100vh;
        background: url('/Images/Slogan 5.jpeg') center center fixed;
        background-size: cover;
        filter: blur(8px);
    }

    .content {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        height: 85vh;
        width: 55%; /* Aumenta a largura do card para qualquer resolução */
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card {
        width: 100%; /* Garante que a imagem não fique espaguetificada */
        height: 82vh;
        border-radius: 10px 0 0 10px;
    }

    .card img{
        width: 100vw; /* Garante que a imagem não fique espaguetificada */
        height: 82vh;
        border-radius: 10px 0 0 10px;
    }
}


@media (max-width: 480px) {
    .content {
        width: 90%; /* Ajusta a largura para telas ainda menores */
        padding: 50px; /* Ajusta o padding para telas ainda menores */
        max-height: 80vh; /* Define uma altura máxima menor para telas menores */
        max-width: 50%; /* Aumenta o tamanho máximo */
    }

    .card img {
        width: 100%; /* Mantém a imagem responsiva */
        max-width: 50%; /* Aumenta o tamanho máximo */
    }
}
