/* Ajustando o formulário para a esquerda e aumentando largura/altura */
.form-container {
    display: flex;
    justify-content: flex-end; /* Posiciona o card mais à esquerda */
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f8f9fa;
}

/* Ajuste das dimensões e proporções do card */
.custom-card {
    max-width: 900px; /* Aumenta a largura */
    width: 100%;
    height: 500px; /* Aumenta a altura */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-height: 100%;
    height: 100%; /* Aumenta a altura da imagem para ocupar o espaço vertical */
}

.card-body h1, .card-body h2 {
    color: #333;
}

button {
    margin-top: 20px;
}

/* Responsividade */
@media (min-width: 768px) and (max-width: 1024px) {
    .custom-card {
        max-width: 700px; /* Aumenta a largura para telas médias */
        height: 450px;    /* Ajuste na altura */
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .custom-card {
        max-width: 800px; /* Ajuste de largura em telas maiores */
        height: 480px;    /* Aumenta a altura */
    }
}

@media (min-width: 1441px) {
    .custom-card {
        max-width: 1000px; /* Aumenta ainda mais a largura em telas maiores */
        height: 600px;     /* Ajusta a altura */
    }
}
