@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmação para resetar a senha</PageTitle>

<h1>Confirmação para resetar a senha</h1>
<p>
    Por favor, verifique seu e-mail informado para resetar a senha.
</p>
